{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block title %}ویرایش اطلاعات کاربری{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% if current_user.avatar %}
                    <a class="thumbnail">
                        <img style="width: 100%" src="{{ current_user.avatar.url }}" alt="">
                    </a>
                {% else %}
                    <a class="thumbnail">
                        <img style="width: 100%" src="/static/images/default-images/default_user_avatar.png" alt="">
                    </a>
                {% endif %}
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>
            <div class="col-md-8">
                <form action="{% url 'edit_profile_page' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button type="submit" class="col-xs-12 col-sm-4 col-md-4 pull-right btn-success">ثبت</button>
                    <br>
                </form>
                <br>

            </div>
        </div>
    </div>

{% endblock %}