{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load thumbnail %}

{% block title %}
    لیست محصولات
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">

                <div class="col-sm-9 padding-right">
                    {% if products %}
                        <div class="features_items"><!--features_items-->
                            <h2 class="title text-center">لیست محصولات</h2>

                            {% for product in products %}
                                {% include 'includes/product_item_component.html' with product=product %}
                            {% endfor %}
                            <div class="clearfix"></div>
                            <ul class="pagination">
                                {#                            <li class="active"><a href="">1</a></li>#}
                                {#                            <li><a href="">2</a></li>#}
                                {#                            <li><a href="">3</a></li>#}
                                {#                            <li><a href="">&raquo;</a></li>#}
                                {% if page_obj.has_previous %}
                                    <li><a class="cursor-pointer"
                                           onclick="fillPage({{ page_obj.previous_page_number }})">قبلی</a></li>
                                {% endif %}

                                {% for page_number in paginator.page_range %}
                                    <li class="{% if page_obj.number == page_number %} active {% endif %}">
                                        <a class="cursor-pointer"
                                           onclick="fillPage({{ page_number }})">{{ page_number }}</a>
                                    </li>
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li><a class="cursor-pointer" onclick="fillPage({{ page_obj.next_page_number }})">بعدی</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div><!--features_items-->
                    {% else %}
                        <div class="alert alert-warning">
                            <p>هیچ محصولی یافت نشد</p>
                        </div>
                    {% endif %}
                </div>

                <div class="col-sm-3">
                    <div class="left-sidebar">

                        {% render_partial 'product_module.views.product_categories_component' %}

                        {% render_partial 'product_module.views.product_brands_component' %}

                        <div class="price-range"><!--price-range-->
                            <h2>فیلتـر قیمـت</h2>
                            <div class="well">
                                <input type="text" class="span2" value="{{ start_price }}, {{ end_price }}"
                                       data-slider-min="0" data-slider-max="{{ db_max_price }}"
                                       data-slider-step="5" data-slider-value="[{{ start_price }}, {{ end_price }}]"
                                       id="sl2"><br/>
                                <b>{{ db_max_price }}</b> <b class="pull-left">0</b>
                            </div>
                        </div><!--/price-range-->
                        <div>
                            <form method="get" action="" id="filter_form">
                                <input type="hidden" id="page" name="page" value="{{ page_obj.number }}">
                                <input type="hidden" id="start_price" name="start_price" value="{{ start_price }}">
                                <input type="hidden" id="end_price" name="end_price" value="{{ end_price }}">
                            </form>
                            <button class="btn btn-success btn-block" onclick="filterProducts()">اعمال فیلتر</button>
                        </div>

                        {% if banners %}
                            <div class="shipping text-center"><!--shipping-->
                                {% for banner in banners %}
                                    <a href="{{ banner.url }}">
                                        {% thumbnail banner.image "158x192" crop='center' as im %}
                                            <img width="100%" height="100%" src="{{ im.url }}">
                                        {% endthumbnail %}
                                    </a>
                                {% endfor %}

                            </div><!--/shipping-->
                        {% endif %}
                        <br>
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock %}